<div class="row">
  <div class="col-md-3 col-sm-6">
    <div class="fd-tile detail clean tile-purple">
      <div class="content"><h1 class="text-left">170</h1><p>New Visitors</p></div>
      <div class="icon"><i class="fa fa-flag"></i></div>
      <a class="details" href="#">Details <span><i class="fa fa-arrow-circle-right pull-right"></i></span></a>
    </div>
  </div>
            
  <div class="col-md-3 col-sm-6">
    <div class="fd-tile detail clean tile-green">
      <div class="content"><h1 class="text-left">24</h1><p>New Comments</p></div>
      <div class="icon"><i class="fa fa-comments"></i></div>
      <a class="details" href="#">Details <span><i class="fa fa-arrow-circle-right pull-right"></i></span></a>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <div class="fd-tile detail clean tile-prusia">
      <div class="content"><h1 class="text-left">25</h1><p>New Likes</p></div>
      <div class="icon"><i class="fa fa-heart"></i></div>
      <a class="details" href="#">Details <span><i class="fa fa-arrow-circle-right pull-right"></i></span></a>
    </div>
  </div>
  
  <div class="col-md-3 col-sm-6">
    <div class="fd-tile detail clean tile-red">
      <div class="content"><h1 class="text-left">72</h1><p>New Views</p></div>
      <div class="icon"><i class="fa fa-eye"></i></div>
      <a class="details" href="#">Details <span><i class="fa fa-arrow-circle-right pull-right"></i></span></a>
    </div>
  </div>
</div>
<div class="row">
  <!-- content masukkan disini -->
</div>